.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000075;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Raised to ensure it's above everything */
    padding: 1rem;
}

.modal {
    background: #ffffff;
    padding: 2rem;
    border-radius: 12px;
    max-width: 500px;
    width: 100%;
    font-family: "Segoe UI", sans-serif;
    max-height: 90vh;
    overflow-y: auto;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.modal h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #222;
}

.modal label {
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 0.3rem;
    font-weight: 600;
    color: #333;
    font-size: 0.95rem;
    text-align: left;
}

.modal select {
    width: 100%;
    padding: 0.6rem;
    font-size: 0.95rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f9f9f9;
    transition: border 0.3s ease;
    color: #222;
}

.modal select:focus {
    border-color: #ff0000;
    outline: none;
}

.buy-button {
    background-color: #ff0000;
    padding: 0.75rem 1.5rem;
    margin-top: 1.5rem;
    border: none;
    border-radius: 48px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: #e00000;
}

.close-button {
    margin-top: 1rem;
    background: none;
    color: #666;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    text-align: center;
    display: block;
    width: 100%;
}

.category-toggle {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 12px;
}

.category-btn {
    padding: 12px 12px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    cursor: pointer;
    border-radius: 4px;
    color: #333;
    transition: all 0.2s;
    font-size: 16px;
}

.category-btn:hover {
    background-color: #f0f0f0;
}

.category-btn.active {
    background-color: #ff0000;
    color: white;
    border-color: #ff0000;
}

.bundle-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 8px;
    justify-content: center;
}

.bundle-card {
    padding: 10px;
    border: 1px solid #ddd;
    width: 90px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    background-color: #fff;
    color: #222;
    transition: border-color 0.3s, background-color 0.3s;
    font-size: 13px
}

.bundle-card:hover {
    background-color: #f9f9f9;
}

.bundle-card.selected {
    border-color: #ff0000;
    background-color: #ffe5e5;
}